<!-- your html code here -->
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<div class="highlight">
<p><label for="url"><b>Your E-mail</b></label>
    <input type="url" id="url"></p>
<p><label for="textarea"><b>Your message</b></label>
    <textarea id="textarea" rows="3"></textarea></p>
    <button type="submit">Button submit</button>
</div>