<footer>
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
<!--                 <div class="card-header">
                Footer
              </div> -->
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Copyright</p>
                  <footer class="blockquote-footer">Mery-Pablo_Matias 2024<cite title="Source Title"> Gracias</cite></footer>
                </blockquote>
              </div>
            </div>
      </div>
  </div>
</footer>