<footer>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                  Footer
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>"No dejes para hoy lo que puedas hacer mañana".</p>
                    <footer class="blockquote-footer">Alguien lo habrá dicho antes que nosotros, ¿no? <cite title="Source Title">Gracias</cite></footer>
                  </blockquote>
                </div>
              </div>
        </div>
    </div>
</footer>
