<!-- your html code here -->
<hr class="featurette-divider">
<div class="container marketing" >
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, cumque cum error sunt voluptatem at laboriosam
        voluptatum quam quis doloremque alias accusamus dolorum aperiam! Autem est illum libero praesentium molestiae?</p>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm border-0" style="width: 700; height: 400;">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 700x400"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" text-anchor="middle" alignment-baseline="middle"
                                font-size="36px">700 x 400</text>
                        </svg>
                        <div class="card-body">
                            <h4 style="color: #0668fb;">Project Name</h4>
                            <p class="card-text" style="font-size: 13px;">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Natus libero ipsum ab laborum est officia.</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm border-0" style="width: 700; height: 400;">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 700x400"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" text-anchor="middle" alignment-baseline="middle"
                                font-size="36px">700 x 400</text>
                        </svg>
                        <div class="card-body">
                            <h4 style="color: #0668fb;">Project Name</h4>
                            <p class="card-text" style="font-size: 13px;">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Natus libero ipsum ab laborum est officia.</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm border-0" style="width: 700; height: 400;">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 700x400"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" text-anchor="middle" alignment-baseline="middle"
                                font-size="36px">700 x 400</text>
                        </svg>
                        <div class="card-body">
                            <h4 style="color: #0668fb;">Project Name</h4>
                            <p class="card-text" style="font-size: 13px;">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Natus libero ipsum ab laborum est officia.</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>