
<hr class="featurette-divider" style="margin-top: 60px; margin-bottom: 60px">
<div class="container marketing" style="padding: 15px;">
    <div class="row featurette">
        <div class="col-md-9 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">The Second Heading <span class="text-muted">is pretty cool too.</span></h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, dolorem ipsam? Quisquam hic
                reprehenderit veniam, architecto aut quo ipsa! Soluta eum quia itaque quas assumenda voluptatum quasi
                voluptates odio non?
            </p>
        </div>
        <div class="col-md-3 order-md-1">
            <svg class="bd-placeholder-img rounded-circle bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <circle cx="100" cy="100" r="100" fill="var(--bs-secondary-bg)"></circle>
                <image href="https://as1.ftcdn.net/v2/jpg/04/29/22/50/1000_F_429225008_0syuMhobEObHi4dYyuUyOp8UE9fDfitV.jpg" x="-100" y="-100" width="500" height="500" />
              </svg>
        </div>